# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files

/test-demo/.idea/
/test-demo/.gitignore

### Node template
# Logs
/test-demo/logs
/test-demo/*.log

# nyc test coverage
/test-demo/.nyc_output/

# node.js
/test-demo/node_modules/

# dist
dist/

